#main{
	width:100%;
	overflow:hidden;
}

#main .section01{
	width:100%;
	position:relative;
}

#main .section01 .bg{
	width:100%;
}
#main .section01 .bg img{
	width:100%;
}

#main .section01 .textCont{
	display:none;
	width:100%;
	position:absolute;
	top:15%;
}

#main .section01 .textCont .title{
	font-family:'Abril Fatface', cursive;
	color:#919191;
	font-size:32px;
	text-align:center;
}

#main .section01 .textCont .subtitle{
	font-family:'montserrat';
	font-weight:200;
	color:#919191;
	font-size:14px;
	text-align:center;
	margin-top:10px;
}

#main .section02{
	width:100%;
	position:relative;
}


#main .section02 .bg{
	width:100%;
}
#main .section02 .bg img{
	width:100%;
}

#main .section02 .textCont{
	width:100%;
	position:absolute;
	bottom:12%;
	padding:0em 7%;
	box-sizing:border-box;
}


#main .section02 .textCont .title{
	font-family:'Abril Fatface', cursive;
	color:#fff;
	font-size:32px;
	text-align:Center;
}


#main .section02 .textCont .substance{
	font-size:14px;
	word-break:keep-all;
	margin-top:2em;
	color:#fff;
	text-align:Center;
}

#main .section03{
	width:100%;
	position:relative;
	background:#10110f;
}

#main .section03 .bg{
	width:100%;
}

#main .section03 .bg img{
	width:100%;
}

#main .section03 .contImg{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:9
}

#main .section03 .contImg div{
	width:100%;
}

#main .section03 .contImg div img{
	width:100%;
}


#main .section03 .hand{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:99;
}


#main .section03 .hand img{
	width:100%;
}

#main .section03 .button{
	width:100%;
	position:absolute;
	bottom:15%;
	z-index:999;
	padding:0px 3%;
	box-sizing:border-box;
	text-align:center;
}



#main .section03 .button li{
	font-size:15px;
	margin:0em 1em;
	font-family:'montserrat';
	color:#fff;
	display:Inline-block;
	margin-top:10px;
}



#main .section04{
	width:100%;
	background:#0f6244;
	box-sizing:border-box;
	position:relative;

}



#main .section04 .bg{
	width:100%;

}

#main .section04 .bg img{
	width:100%;

}


#main .section04 .cont{
	width:100%;
	position:absolute;
	top:20%;
}

#main .section04 .thumArea{
	width:100%;
	padding:0px 10%;
	box-sizing:border-box;
}

#main .section04 .thumArea .thum{
	width:100%;
}

#main .section04 .thumArea .thum img{
	width:100%;
}


#main .section04 .thumArea .text{
	top:25%;
	right:15%;
	font-size:50px;
	font-family:'Abril Fatface', cursive;
	color:#fff;
	position:absolute;
}




#main .section04 .portfolio{
	width:100%;
	margin-top:3em;
}

#main .section04 .portfolio .title{
	width:100%;
	font-size:30px;
	font-family:'Abril Fatface', cursive;
	text-align:Center;
	color:#fff;
}

#main .section04 .portfolio .substance{
	width:100%;
	font-size:14px;
	text-align:Center;
	color:#fff;
	margin-top:5px;
}


#main .section04 .portfolio .more{
	width:150px;
	border:1px solid #fff;
	text-align:Center;
	color:#fff;
	font-family:'Abril Fatface', cursive;
	font-size:14px;
	margin:2em auto 0;
	padding:15px 0px;
}




#main .section05{
	width:100%;
	position:relative;
}


#main .section05 .bg{
	width:100%;
}

#main .section05 .bg img{
	width:100%;
}

#main .section05 .imageArea{
	width:100%;
}


#main .section05 .imageArea img{
	width:100%;
}



#main .section05 .ideas{
	width:100%;
	box-sizing:border-box;
	position:absolute;
	top:50%;
}

#main .section05 .ideas .title{
	width:100%;
	font-size:20px;
	font-family:'Abril Fatface', cursive;
	text-align:Center;
	color:#fff;
}





#main .section05 .ideas .substance{
	width:100%;
	font-size:14px;
	text-align:Center;
	color:#fff;
	margin-top:15px;
	font-weight:300;
}





#main .section05 .partners{
	width:100%;
	box-sizing:border-box;
	position:absolute;
	bottom:10%;
}

#main .section05 .partners .title{
	width:100%;
	font-size:30px;
	font-family:'Abril Fatface', cursive;
	text-align:Center;
	color:#fff;
}

#main .section05 .partners .partnersList{
	width:100%;
	text-align:center;
	margin-top:2em;
}


#main .section05 .partners .partnersList li{
	width:14%;
	display:Inline-block;
	margin:0px 2.5%
}


#main .section05 .partners .partnersList li img{
	width:100%;
}


#main .section06{
	width:100%;
}


#main .section06 .map{
	width:100%;
	height:300px;
}


#main .section07{
	width:100%;
	background:#0f6244;
	padding:10em 0px;
}


#main .section07 .title{
	width:100%;
	font-size:30px;
	font-family:'Abril Fatface', cursive;
	text-align:Center;
	color:#fff;
}


#main .section07 .list{
	width:100%;
	text-align:Center;
}


#main .section07 .list li{
	width:100%;
	margin-top:3em;
}

#main .section07 .list li .subject{
	font-size:13px;
	padding:5px 15px;
	background:#fff;
	color:#0f6244;
	display:inline-block;
	width:80px;
	text-align:center;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#main .section07 .list li .add{
	font-size:13px;
	margin-top:10px;
	color:#fff;
}


#main .section07 .list li .call{
	width:100%;
	font-size:24px;
	font-family:'Abril Fatface', cursive;
	text-align:Center;
	color:#fff;
	margin-top:10px;
}

































