.table-bordered .thumbnail {
    padding:0px;
    background-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
}

.client-table {
    word-break:break-all;
}

.client-table .thumbnail img{    
        position: relative;
        border-radius: 50%;
        width: 100%;
        min-width: 165px;
        max-width: 165px;
        height: auto;
        padding:2px;
        margin:10px;
        background: white;
}

.table-bordered .paging {
    text-align: center;
}

.table-bordered .paging a {
    color: white;
}



.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}

.modal .context {
    padding:0;
    line-height:30px;
    text-align: right;
}

.modal .modal-title{
    width:100%;
    display: right;
    font-size:20px;
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    max-width: 600px;
    min-width: 400px;
    border-radius: 5px;
}

.modal .modal-content .modal-button {
    text-align: center;
    margin:0 auto;
}

.modal .modal-title {
    text-align: center;
    padding-bottom:20px;
    font-size: 2rem;
    font-weight: 800;

}

.exam-write-menu {
    padding:0 30px;
}

.exam-write-menu .left-menu input{
    float:left;
}

.exam-write-menu .left-menu button{
    float:left;
}

.exam-write-menu .right-menu {
    float:right;
}

.exam-write-menu .right-menu input{
    float:left;
}

.exam-write-menu .right-menu button{
    float:left;
}

#uploadfile {
    width: 100%;
    height: 100px;
    background-color: #ECEFF4;
    border: 2px dashed #A1A7AE;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 10px;
    overflow: auto;
}

.upload-area {
    width: 100%;
    height: 100px;
    background-color: #ECEFF4;
    border: 2px dashed #A1A7AE;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 10px;
    overflow: auto;
    vertical-align: middle;

}

.upload-area p {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: #6B7076;
    font-size: 14px;
}

.file_list li{
    color:#6B7076 !important;
}